body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
}

.input-add-item {
    width: 100%;
}

.form-header {
    font-size: 50px;
    font-weight: 200;
}

.header-sm {
    font-size: 30px;
    font-weight: 200;
}

.item-order-name {
    font-size: 25px;
    font-weight: 200;
}

.price {
    font-size: 45px;
    font-weight: 300;
}

.cart-price {
    font-size: 35px;
    font-weight: 300;
}

.cart-price {
    font-size: 45px;
    font-weight: 300;
}

.order-price {
    font-size: 30px;
    font-weight: 200;
}

.order-price-sm {
    font-size: 35px;
    font-weight: 200;
}


a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.side-nav-element {
    width: 100%;
    margin: 0;
    padding: 0 0 0 25px;
    text-align: start;
    border-radius: 0;
}

.md-sidenav-left {
    height: 100%;
    min-width: 250px;
    width: 250px;
    padding-top: 10px;
    margin-bottom: 8px;
    margin-top: 0;
}

.item-card-container {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

.md-card-item {
    outline: none;
    border: 0;
    cursor: pointer;
    overflow: visible;
    min-width: 100%;
    margin: 0;
    padding-top: 15px;
}

.md-card-order {
    outline: none;
    border: 0;
    overflow: visible;
    min-width: 100%;
    margin: 0;
    padding-top: 15px;
}

.item-card-image-container {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.item-order-image-container {
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.item-card-cart-image-container {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.item-card-text-20 {
    font-size: 20px;
    font-weight: 200;
}

.teal-text {
    color: #009688;
}

.search-input {
    height: 75px;
    padding-left: 50px;
    padding-right: 50px;
}

.hamburger-menu-icon {
    margin: 15px;
    cursor: pointer;
    margin-right: 0;
    font-size: 45px;
    color: black;
    margin-top: 20px;
    margin-right: 20px;
}

.item-single-price {
    font-size: 30px;
    font-weight: 400;
    margin-top: 0px;
    color: #009688;
}

.iconTopNavMaterial {
    font-size: 60px;
    height: 60px;
    width: 60px;
    vertical-align: middle;
    outline: none;
    border: 0;
}

.iconTopNavMaterial:hover {
    color: #009688;
    cursor: pointer;
}

.cart-actions {
    margin-left: 8px;
}

.md-card-store {
    outline: none;
    border: 0;
    overflow: visible;
    min-width: 100%;
    margin: 0;
    padding-top: 15px;
}

.storage-green {
    background-color: #8BC34A;
}

.storage-yellow {
    background-color: #FFC400;
}

.storage-red {
    background-color: #F44336;
}

.no-in-store {
    font-size: 35px;
    font-weight: 200;
}