<html lang="en" ng-app="BlankApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <!--<link rel="stylesheet" href="css/materialize/materialize.css">-->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="css/containerFromMaterialize.css">
    <link rel="stylesheet" href="css/row.css">
    <link rel="stylesheet" href="css/containerFromMaterialize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/stars.css">
</head>
<body ng-cloak style="margin: 0">


    <div ng-controller="AppCtrl" layout="column" style="height: auto;" ng-cloak>

        <!--        <md-toolbar layout="row" style="background-color: #80CBC4; padding: 10px">
                    <div hide-gt-md flex="5" ng-show="pageHasSideNav">
                        <md-icon ng-click="toggleLeft()" style="margin: 15px; font-size: 30px; cursor: pointer;">menu</md-icon>
                    </div>

                    <div flex="85" flex-offset="10" flex-offset-gt-md="0" layout="row">
                        <div flex="10" layout-align="center center"><a ng-href="/#/">
                            <img src="http://www.freeiconspng.com/uploads/shopping-cart-icon-30.png" style="width: 100%">
                        </a></div>
                        <h1 flex style="font-size: 100px; font-weight: 100; overflow: hidden">ALLStore</h1>
                    </div>
                </md-toolbar>-->


        <!--look good on the mobile-->
        <!--        <div style="background-color: #80CBC4;" layout="column" layout-gt-md="row" layout-align-gt-md="space-between">
                    <div layout="row">
                        <div hide-gt-md ng-show="true" layout-align="start center">
                            <md-icon ng-click="toggleLeft()" style="margin: 15px; cursor: pointer;">menu</md-icon>
                        </div>
                        <div flex="10">
                            <img src="http://www.freeiconspng.com/uploads/shopping-cart-icon-30.png" style="width: 100%">
                        </div>
                        <div class="header-sm" style="display: flex; justify-content: center; align-items: center">
                            <span>AllStore</span>
                        </div>
                    </div>
                    <div flex>
                        <md-card md-whiteframe="4" style="height: 75px; padding-left: 50px; padding-right: 50px">
                            <md-input-container class="input-add-item">
                                <label>Look for product</label>
                                <input ng-model="testInput" type="text">
                            </md-input-container>
                        </md-card>
                    </div>
                </div>-->

        <div style="background-color: #80CBC4;" layout="column" layout-gt-md="row">
            <div flex-gt-md="33" flex="" layout="row">
                <div hide-gt-md>
                    <md-icon ng-click="toggleLeft()"
                             style="margin: 15px; cursor: pointer; margin-right: 0; font-size: 45px; color: black; margin-top: 20px; margin-right: 20px">
                        menu
                    </md-icon>
                </div>
                <div style="padding-top: 8px">
                    <a href="/#/">
                        <img src="http://www.freeiconspng.com/uploads/shopping-cart-icon-30.png"
                                        style="height: 75px; margin-left: 10px">
                    </a>
                </div>
                <div class="form-header"
                     style=" display: flex; justify-content: center; align-items: center; padding-left: 25px">
                    AllStore
                </div>
            </div>

            <div flex-gt-md="33" flex="">
                <md-card md-whiteframe="4" style="height: 75px; padding-left: 50px; padding-right: 50px">
                    <md-input-container class="input-add-item">
                        <label>Look for product</label>
                        <input ng-model="itemName" ng-change="getItemsByName()" type="text">
                    </md-input-container>
                </md-card>
            </div>

            <div flex="33" hide show-gt-md>

            </div>
        </div>


        <div>
            <ng-view style="width: 100%"></ng-view>
        </div>

    </div>


    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->


    <script src="js/app.js"></script>
    <script src="js/service/ItemService.js"></script>
    <script src="js/service/StoreService.js"></script>
    <script src="js/service/ReviewService.js"></script>
    <script src="js/controller/StoreController.js"></script>
    <script src="js/controller/SideNavController.js"></script>
    <script src="js/controller/ItemFormController.js"></script>

    <script src="js/controller/sampleController.js"></script>
    <script src="js/controller/ItemController.js"></script>
    <script src="js/controller/ItemSearchController.js"></script>
    <script src="js/controller/ItemCategorySearchController.js"></script>

</body>
</html>