<html lang="en" ng-app="BlankApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <!--<link rel="stylesheet" href="css/materialize/materialize.css">-->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-cloak ng-controller="TestCtrl">

    <div>{{test}}</div>
    <br>
    <input type="text" ng-model="test">
    <br>
    <div>{{store}}</div>
    <br>
    <div>{{raw}}</div>
    <br>
    <md-button ng-click="getStore()">get Store</md-button>



    <!-- Angular Material requires Angular.js Libraries -->
    <script src="js/angular-1.5.8/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="js/AngularMaterial/angular-material.js"></script>

    <!-- Your application bootstrap  -->
    <script src="js/app.js"></script>
    <script src="js/controller/testController.js"></script>

</body>
</html>