<div class="item-card-container">
    <div layout="row" layout-align="space-between center">
        <div flex="33" flex-gt-md="10" layout-align="start center" style="padding: 10px;">
            <a ng-href="/#/item/{{item.id}}" ng-click="cancel()">
                <div style="height: 100px" ng-style="{'background-image':'url({{item.photo}})'}"
                     class="item-card-image-container">

                </div>
            </a>
        </div>
        <div flex="50" flex-gt-sm="40" flex-gt-md="35" flex-gt-lg="50" layout="column"
             layout-align="space-between" style="padding-left: 25px">
            <div flex="" class="header-sm">{{item.name}}
                <p style="font-size: 15px">In Store: {{item.storeName}}</p>
            </div>
            <div flex="" hide-gt-sm class="cart-price teal-text" style="font-size: 30px">
                {{item.price | currency}}
            </div>
        </div>
        <div flex="" hide-gt-sm layout="row" layout-align="end center">
            <div>
                <md-button ng-click="deleteFromCart($index)" class="md-fab md-mini button-red">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </div>
        <div flex="" hide show-gt-sm class="price teal-text">
            <div layout="row" layout-align="end center" style="padding-right: 30px">
                {{item.price | currency}}
                <div style="padding-left: 10px">
                    <md-button ng-click="deleteFromCart($index)" class="md-fab md-mini button-red">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>
<md-divider></md-divider>