<div class="item-card-container">
    <md-card ng-click="consoletest2()"
             md-whiteframe="{{height}}" ng-init="height = 3" ng-mouseenter="height = 12"
             ng-mouseleave="height = 3" class="md-card-item" style="padding-top: 0">
        <div layout="row" layout-align="space-between center">
            <div flex="33" flex-gt-md="10" layout-align="start center" style="padding: 10px;">
                <div style="height: 100px" ng-style="{'background-image':'url({{item.photo}})'}"
                     class="item-card-image-container">

                </div>
            </div>
            <div flex="33" flex-gt-sm="45" flex-gt-md="35" flex-gt-lg="50" layout="column"
                 layout-align="space-between" style="padding-left: 25px">
                <div flex="" class="header-sm-storage">{{item.name}}
                </div>
            </div>
            <div flex="" class="no-in-store">
                <div layout="column" layout-align="start end" style="padding-right: 30px">
                    <div layout="row" layout-align="center center"
                         ng-class="{'storage-red': (item.noInStock < 10), 'storage-yellow': (item.noInStock >= 10 && item.noInStock < 30), 'storage-green': (item.noInStock >= 30)}"
                         style="height: 75px; width: 75px; border-radius: 75px">
                        <div>{{item.noInStock}}</div>
                    </div>
                </div>
            </div>
        </div>
    </md-card>
</div>