<div class="md-avatar" style="background-color: #B2DFDB" layout="row"
     layout-align="center center">
    <div>{{offer.storeName | capitalizeFirst}}</div>
</div>
<div class="md-list-item-text" layout="row" layout-xs="column">
    <div layout="column" flex-gt-xs="33" flex>
        <div style="font-size: 25px">
            {{offer.storeName}}
        </div>
        <div style="font-size: 15px">
            {{offer.storeCountry}}, {{offer.storeCity}}
        </div>
    </div>
    <div flex-gt-xs="33" flex style="font-size: 35px; color: #009688">
        {{offer.itemPrice | currency}}
    </div>
    <div flex-gt-xs="20" flex>
        <md-button ng-click="addItemToCart(single, offer)" class="md-primary md-raised">BUY NOW</md-button>
    </div>
    <div flex-gt-xs="14" flex style="height: 15px"></div>

</div>