<md-dialog aria-label="Your cart" flex="80">


    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Your Cart</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content style="padding: 0">
        <div ng-show="cart.items.length == 0" layout="row" layout-align="center center">
            <div class="teal-text" style="padding: 100px; font-size: 50px">
                Your cart is empty
            </div>
        </div>
        <div  class="md-dialog-content" style="padding: 0;">
            <div ng-repeat="item in cart.items track by $index">
                <item-card-short></item-card-short>
            </div>
        </div>
        <div ng-show="cart.items.length > 0" class="price teal-text" layout="row" layout-align="end center"
             style="padding-right: 38px; padding-top: 25px">
            SUM: {{cart.sum | currency}}
        </div>
    </md-dialog-content>

    <md-divider></md-divider>

    <md-dialog-actions ng-show="cart.items.length > 0" layout="row" layout-align="end center"
                       style="padding-right: 15px; padding-top: 25px; padding-bottom: 15px">
        <md-button class="md-raised">
            Continue shopping
            <md-icon>shopping_cart</md-icon>
        </md-button>
        <a ng-href="/#/order/confirm">
            <md-button ng-click="cancel()" class="md-raised">
                To checkout
                <md-icon>check</md-icon>
            </md-button>
        </a>
    </md-dialog-actions>

</md-dialog>