<div layout="column">
    <div flex="100" layout="row" layout-align="center start" style="padding: 100px 15px 15px;">

        <div flex="100" flex-gt-xs="66" flex-gt-sm="50" flex-gt-md="33" layout="column" style="padding: 25px 25px 0;"
             md-whiteframe="10">
            <div layout="row" layout-align="center center">
                <div layout="row">
                    <md-icon class="red-text large-icon">error</md-icon>
                    <div style="font-size: 50px" class="red-text">Error 404</div>
                </div>
            </div>


            <div class="red-text" style="font-size: 30px; padding-bottom: 25px; padding-top: 25px; text-align: center">
                Requested page does not exist
            </div>
        </div>
    </div>
</div>