<div layout="column">
    <div flex="100" layout="row" layout-align="center start" style="padding: 100px 15px 15px;">

        <div flex="100" flex-gt-xs="66" flex-gt-sm="50" flex-gt-md="33" layout="column" style="padding: 25px 25px 0;"
             md-whiteframe="10">
            <div class="price teal-text" layout="row" layout-align="center center">Sign in</div>

            <div class="red-text" style="font-size: 30px">
                You do not have permission to enter this page
            </div>
        </div>
    </div>
</div>