<div>
    <section layout="row" flex>

        <md-content flex>

            <md-card md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{store.name}}</span>
                        <span class="md-subhead">{{store.storeAddress.city}}, {{store.storeAddress.street}}, {{store.storeAddress.number}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="getStore()">Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>

            <md-list flex>
                <md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="item in store.items">
                    <div class="md-list-item-text" layout="column">
                        <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{item.name}}</span>
                                    <span class="md-subhead">{{item.price | currency: "$"}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content layout="row" layout-align="space-between">
                                <div class="md-media-xl card-media">
                                    <img ng-src="{{item.photo}}?{{$index}}"
                                         style="width: 200px; height: auto" alt="{{item.photo}}"/>
                                </div>
                                <p>{{item.description}}</p>
                                <p>views: {{item.views}}</p>
                                <p>id: {{item.id}}</p>

                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button ng-click="viewUp(item.id)">View Up</md-button>
                                <md-button>Action 2</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </section>

    <md-button ng-click="getStore()">get Store</md-button>
</div>