<div layout="row" layout-align="center start">
    <div flex="100" flex-gt-xs="85" flex-gt-md="70">

        <div layout="row">

            <div layout="column">
                <md-sidenav flex="100"
                            class="md-sidenav-left"
                            md-component-id="left"
                            md-is-locked-open="$mdMedia('gt-sm')"
                            md-whiteframe="4">

                    <md-content flex="100" layout-padding ng-controller="LeftCtrl" style="padding: 0">
                        <md-button ng-click="close()" class="md-primary" hide-gt-sm>
                            Close Sidenav Left
                        </md-button>
                        <a href="/#/info" class="md-button md-ink-ripple side-nav-element">
                            <md-icon>info_outline</md-icon>
                            About
                        </a>
                        <a href="/#/" class="md-button md-ink-ripple side-nav-element">
                            <md-icon>home</md-icon>
                            Home page
                        </a>
                        <a access="ROLE_MANAGER" href="/#/store/manager/Apple" class="md-button md-ink-ripple side-nav-element">
                            <md-icon>store_mall_directory</md-icon>
                            Store manager
                        </a>
                        <a access="ROLE_ADMIN" href="/#/addItem" class="md-button md-ink-ripple side-nav-element">
                            <md-icon>add</md-icon>
                            Add Product
                        </a>
                        <a hide-gt-sm href="" class="md-button md-ink-ripple side-nav-element" ng-click="showCart($event)">
                            <md-icon>shopping_basket</md-icon>
                            Cart
                        </a>
                        <a access="ROLE_USER" hide-gt-sm href="" class="md-button md-ink-ripple side-nav-element" ng-click="logout()">
                            <md-icon>power_settings_new</md-icon>
                            Logout
                        </a>
                        <a hide-gt-sm ng-href="/#/user/user" class="md-button md-ink-ripple side-nav-element" ng-click="">
                            <md-icon ng-click="">person</md-icon>
                            Your Profile
                        </a>
                        <md-divider style="padding: 0; margin: 0"></md-divider>
                        <p style="margin: 0; padding-left: 10px; font-weight: 500; font-size: 14px; text-transform: uppercase;">Categories: </p>
                        <div ng-repeat="category in categories" style="padding: 0;">
                            <a href="/#/category/{{category}}" class="md-button md-ink-ripple side-nav-element">
                                {{category}}
                            </a>
                        </div>

                        {{categoryName}}
                    </md-content>

                </md-sidenav>
            </div>

            <div flex="" style="width: 100%; padding-bottom: 8px">

                <div ng-repeat="item in items">

                    <item-card></item-card>
                </div>
            </div>

        </div>
    </div>
</div>
