<div layout="row" layout-align="center start">
    <div flex="100" flex-gt-xs="85" flex-gt-md="70">

        <div layout="row">

            <div layout="column">
                <md-sidenav flex="100"
                            style="height:100%; min-width: 250px; width: 250px; padding-top: 10px; margin-bottom: 8px; margin-top: 0;"
                            class="md-sidenav-left"
                            md-component-id="left"
                            md-is-locked-open="$mdMedia('gt-md')"
                            md-whiteframe="4">

                    <md-content flex="100" layout-padding ng-controller="LeftCtrl" style="padding: 0">
                        <md-button ng-click="close()" class="md-primary" hide-gt-md>
                            Close Sidenav Left
                        </md-button>
                        <a href="/#/" class="md-button md-ink-ripple side-nav-element">
                            <md-icon>home</md-icon>
                            Home page
                        </a>
                        <a href="/#/addItem" class="md-button md-ink-ripple side-nav-element">
                            <md-icon>add</md-icon>
                            Add Product
                        </a>
                        <md-divider></md-divider>
                        <div ng-repeat="category in categories" style="padding: 0;">
                            <a href="/#/category/{{category}}" class="md-button md-ink-ripple side-nav-element">
                                {{category}}
                            </a>
                        </div>
                    </md-content>

                </md-sidenav>
            </div>

            <div flex="" style="width: 100%; padding-bottom: 8px">

                <div ng-repeat="item in items">
                    <a ng-href="/#/item/{{item.id}}">
                        <div style="padding-left: 8px; padding-right: 8px; padding-top: 8px">
                            <md-card ng-click="consoletest2()"
                                     style="outline: none; border: 0; cursor: pointer; overflow: visible; min-width: 100%; margin: 0; padding-top: 15px"
                                     md-whiteframe="{{height}}" ng-init="height = 3" ng-mouseenter="height = 12"
                                     ng-mouseleave="height = 3">
                                <div layout="row">
                                    <div flex="33" flex-gt-md="25" layout-align="center center" style="padding: 20px;">
                                        <div style="height: 200px; background-size: contain; background-repeat: no-repeat; background-position: center" ng-style="{'background-image':'url({{item.photo}})'}">

                                        </div>
                                    </div>
                                    <div flex="66" flex-gt-sm="45" flex-gt-md="35" flex-gt-lg="50" layout="column" style="padding-left: 25px">
                                        <div flex="" class="header-sm">{{item.name}}</div>
                                        <div flex="">
                                            <span style="font-size: 20px; font-weight: 200">{{item.avgRating}}</span>
                                            <md-icon style="margin: auto; font-size: 20px">star</md-icon>
                                            <span style="font-size: 20px; font-weight: 200">{{item.noOfReviews}} Reviews</span>
                                        </div>
                                        <div flex="" hide show-gt-md>Category: {{item.category}}</div>
                                        <div flex="" hide-gt-md class="price" style="color: #009688">
                                            {{item.price | currency}}
                                        </div>
                                        <div flex="" hide-gt-md>
                                            <md-button class="md-primary md-raised">BUY NOW</md-button>
                                        </div>
                                        <div flex hide show-gt-md>{{item.description | firstSentence}}</div>
                                    </div>
                                    <div flex="25" hide show-gt-md class="price" style="color: #009688">
                                        {{item.price | currency}}
                                        <md-button class="md-primary md-raised">BUY NOW</md-button>
                                    </div>
                                </div>
                            </md-card>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
