<div layout="row" layout-align="center start">
    <div flex="100" flex-gt-xs="85" flex-gt-md="80" flex-gt-lg="70" style="height: 100%;">
        <div layout="row">

            <div layout="column">
                <md-sidenav flex="100"
                            class="md-sidenav-left"
                            md-component-id="left"
                            md-is-locked-open="$mdMedia('gt-md')"
                            md-whiteframe="4">

                    <md-content flex="100" layout-padding ng-controller="LeftCtrl" style="padding: 0">
                        <md-button ng-click="close()" class="md-primary" hide-gt-md>
                            Close Sidenav Left
                        </md-button>
                        <a href="/#/" class="md-button md-ink-ripple side-nav-element">
                            <md-icon>home</md-icon>
                            Home page
                        </a>

                    </md-content>

                </md-sidenav>
            </div>


            <!-- container -->
            <div flex="" style="width: 100%; padding-bottom: 8px">

                <div ng-repeat="item in store.items">
                    <item-card></item-card>
                </div>
            </div>


        </div>
    </div>
</div>