<div layout="column">
    <div flex="100" layout="row" layout-align="center start" style="padding: 100px 15px 15px;">

        <div flex="100" flex-gt-xs="66" flex-gt-sm="50" flex-gt-md="33" layout="column" style="padding: 25px 25px 0;"
             md-whiteframe="10">
            <div class="price teal-text" layout="row" layout-align="center center">
                Sign in
                <md-button ng-click="infoDialog($event)" class="md-fab md-mini md-primary">
                    <md-icon>info</md-icon>
                </md-button></div>
            <!--<form>
                <md-input-container class="input-add-item">
                    <label>
                        <md-icon>person</md-icon>
                        Username</label>
                    <input id="login" ng-model="username" type="text" class="form-control"
                           required="required" placeholder="login">
                </md-input-container>

                <md-input-container class="input-add-item">
                    <label>
                        <md-icon>lock</md-icon>
                        Password</label>
                    <input id="password" ng-model="password" type="password" class="form-control"
                           required="required" placeholder="password">
                </md-input-container>
                <md-checkbox ng-model="rememberMe" aria-label="remember">
                    Remember me
                </md-checkbox>
                <span ng-show="authenticationError">Please check your credentials and try again.</span>
                <div layout="row" layout-align="end center">
                    <md-button class="md-primary md-raised">
                        Sign in
                        <md-icon ng-click="login()">send</md-icon>
                    </md-button>
                </div>
            </form>-->

            <!--            <form>
                            <div>
                                <md-input-container class="input-add-item">
                                    <input id="login" ng-model="username" type="text" class="form-control"
                                                           required="required" placeholder="login"/>
                                </md-input-container>
                                <span ng-show="authenticationError" class="help-block">
                        Please check your credentials and try again.
                    </span>
                            </div>

                            <div>
                                <md-input-container class="input-add-item">
                                    <input id="password" ng-model="password" type="password" class="form-control"
                                           required="required" placeholder="password"/>
                                </md-input-container>
                            </div>

                            <md-button class="md-primary md-raised" ng-click="login()">Login</md-button>
                        </form>-->


            <form ng-submit="login()">
                <md-input-container class="input-add-item">
                    <label>
                        <md-icon>person</md-icon>
                        Username</label>
                    <input id="login" ng-model="username" type="text">
                </md-input-container>

                <md-input-container class="input-add-item">
                    <label>
                        <md-icon>lock</md-icon>
                        Password</label>
                    <input ng-model="password" type="password">
                </md-input-container>
                <span ng-show="authenticationError" class="help-block">
            Wrong credentials. For more information click <md-icon>info</md-icon>
        </span>
                <div layout="row" layout-align="end center">

                    <input type="submit" style="position: absolute; left: -9999px">
                        <md-button ng-click="login()" class="md-primary md-raised">
                            Sign in
                            <md-icon>send</md-icon>
                        </md-button>
                </div>
            </form>


        </div>
    </div>
</div>