<div layout="row" layout-align="center start">
    <div flex="100" flex-gt-xs="85" flex-gt-md="70">

        <div layout="row">

            <div layout="column">
                <md-sidenav flex="100"
                            class="md-sidenav-left"
                            md-component-id="left"
                            md-is-locked-open="$mdMedia('gt-md')"
                            md-whiteframe="4">

                    <md-content flex="100" layout-padding ng-controller="LeftCtrl" style="padding: 0">
                        <md-button ng-click="close()" class="md-primary" hide-gt-md>
                            Close Sidenav Left
                        </md-button>
                        <a href="/#/" class="md-button md-ink-ripple side-nav-element">
                            <md-icon>home</md-icon>
                            Home page
                        </a>
                        <a href="/#/addItem" class="md-button md-ink-ripple side-nav-element">
                            <md-icon>add</md-icon>
                            Add Product
                        </a>
                        <a hide-gt-sm href="" class="md-button md-ink-ripple side-nav-element"
                           ng-click="showAdvanced($event)">
                            <md-icon>shopping_basket</md-icon>
                            Cart
                        </a>
                        <md-divider></md-divider>
                        <a href="/#/store/manager/{{store.name}}/edit" class="md-button md-ink-ripple side-nav-element" ng-click="">
                            <md-icon>mode_edit</md-icon>
                            Edit
                        </a>
                        <a href="/#/store/manager/{{store.name}}/items" class="md-button md-ink-ripple side-nav-element" ng-click="">
                            <md-icon>list</md-icon>
                            Items
                        </a>
                        <a href="/#/store/manager/{{store.name}}/items/storage" class="md-button md-ink-ripple side-nav-element" ng-click="">
                            <md-icon>store_mall_directory</md-icon>
                            Storehouse
                        </a>
                        <a href="/#/storage/manager/{{store.name}}/orders" class="md-button md-ink-ripple side-nav-element" ng-click="">
                            <md-icon>assignment</md-icon>
                            Orders
                        </a>
                        <a href="/#/store/manager/{{store.name}}/items/add" class="md-button md-ink-ripple side-nav-element" ng-click="">
                            <md-icon>add</md-icon>
                            new product
                        </a>



                        <div ng-repeat="category in categories" style="padding: 0;">
                            <a href="/#/category/{{category}}" class="md-button md-ink-ripple side-nav-element">
                                {{category}}
                            </a>
                        </div>

                        {{categoryName}}
                    </md-content>

                </md-sidenav>
            </div>

            <div flex="" style="width: 100%; padding-bottom: 8px">

                <div class="item-card-container">
                    <md-card md-whiteframe="3" class="md-card-store" style="padding-top: 0">
                        <div layout="column" layout-gt-xs="row"  layout-align-gt-xs="space-between center">
                            <div hide show-gt-sm flex="33" layout-align="start center" style="padding: 10px;">
                                <div style="height: 100px; width: 100px; background-color: #B2DFDB; border-radius: 200px; font-size: 50px; font-weight: 200" layout="row"
                                     layout-align="center center">
                                    {{store.name | capitalizeFirst}}
                                </div>
                            </div>
                            <div flex="" flex-gt-sm="33" flex-gt-md="25" flex-gt-lg="20" layout="column"
                                 layout-align="space-between" style="padding-left: 25px">
                                <div flex="" class="header-sm">{{store.name}}
                                    <p style="font-size: 15px"> {{store.country}}, {{store.city}}</p>
                                    <p style="font-size: 15px">{{store.postalCode | postalCode}}, {{store.street}} street</p>
                                </div>
                            </div>
                            <div flex="" class="cart-price teal-text">
                                <div layout="column" layout-align-gt-xs="start end" style="padding-right: 30px; padding-left: 25px">
                                    {{store.items.length}} Products
                                </div>
                            </div>
                        </div>
                    </md-card>
                </div>
            </div>

        </div>
    </div>
</div>
