<div layout="row" layout-align="center start">
    <div flex="100" flex-gt-xs="85" flex-gt-md="70">

        <div layout="row">

            <div layout="column">
                <md-sidenav flex="100"
                            class="md-sidenav-left"
                            md-component-id="left"
                            md-is-locked-open="$mdMedia('gt-sm')"
                            md-whiteframe="4">

                    <md-content flex="100" layout-padding ng-controller="LeftCtrl" style="padding: 0">
                        <md-button ng-click="close()" class="md-primary" hide-gt-sm>
                            Close Sidenav Left
                        </md-button>
                        <a href="/#/" class="md-button md-ink-ripple side-nav-element">
                            <md-icon>home</md-icon>
                            Home page
                        </a>
                        <a access="ROLE_USER" hide-gt-sm href="" class="md-button md-ink-ripple side-nav-element" ng-click="logout()">
                            <md-icon>power_settings_new</md-icon>
                            Logout
                        </a>
                        <a access="ROLE_ADMIN" href="/#/addItem" class="md-button md-ink-ripple side-nav-element">
                            <md-icon>add</md-icon>
                            Add Product
                        </a>
                        <a access="ROLE_MANAGER" href="/#/store/manager/Apple" class="md-button md-ink-ripple side-nav-element">
                            <md-icon>store_mall_directory</md-icon>
                            Store manager
                        </a>
                        <a hide-gt-sm href="" class="md-button md-ink-ripple side-nav-element"
                           ng-click="showCart($event)">
                            <md-icon>person</md-icon>
                            Your Profile
                        </a>
                        <a hide-gt-sm href="" class="md-button md-ink-ripple side-nav-element"
                           ng-click="showCart($event)">
                            <md-icon>shopping_basket</md-icon>
                            Cart
                        </a>
                        <md-divider></md-divider>
                        <a href="/#/user/{{username}}/edit" class="md-button md-ink-ripple side-nav-element" ng-click="">
                            <md-icon>lock</md-icon>
                            Change password
                        </a>
                        <a href="/#/user/{{username}}/orders" class="md-button md-ink-ripple side-nav-element" ng-click="">
                            <md-icon>assignment</md-icon>
                            Orders
                        </a>
                    </md-content>

                </md-sidenav>
            </div>

            <div flex="" style="width: 100%; padding-bottom: 8px">

                <div class="item-card-container">
                    <md-card md-whiteframe="3" class="md-card-store" style="padding-top: 0">
                        <div layout="column" layout-gt-xs="row"  layout-align-gt-xs="space-between center">
                            <div hide show-gt-sm flex="33" layout-align="start center" style="padding: 10px;">
                                <div style="height: 100px; width: 100px; background-color: #B2DFDB; border-radius: 200px; font-size: 50px; font-weight: 200" layout="row"
                                     layout-align="center center">
                                    {{user.username | capitalizeFirst}}
                                </div>
                            </div>
                            <div flex="" flex-gt-sm="33" flex-gt-md="25" flex-gt-lg="20" layout="column"
                                 layout-align="space-between" style="padding-left: 25px">
                                <div flex="" class="header-sm">Username: {{user.username}}
                                </div>
                            </div>
                            <div flex="">

                            </div>
                        </div>
                    </md-card>
                </div>
            </div>

        </div>
    </div>
</div>
